<nav class="p-2">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <div class="shrink">
        <a href="#" class="text-xl font-bold">BRM Back Office</a>
      </div>
      <div>
        <ul class="flex space-x-4">
          <li><a href="/" class="text-gray-700 hover:text-gray-900">Dashboard</a></li>
          <li><a href="/customers" class="text-gray-700 hover:text-gray-900">customers</a></li>
        </ul>
      </div>
      <app-user-button />
    </div>
  </div>
</nav>
